language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
  - "pypy3"
  - "nightly"
install:
  - pip install -U requests[socks] bs4
  - pip install coverage
script: 
  - coverage run test.py
after_success:
  - bash <(curl -s https://codecov.io/bash)